---
---

$bigscreen-breakpoint: 800px;

@mixin nmCard(
  $bg: #efeeee,
  $shadowLight: rgba(white, 0.5),
  $shadowDark: rgna(#d1cdc7, 0.5)
) {
  background: $bg;
  box-shadow:
    -6px -6px 16px $shadowLight,
    6px 6px 16px $shadowDark;
}

html, body {
  margin: 0;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  line-height: 1.4;
  font-size: 16px;
  color: #444;
  background-color: #efeeee;
}

ul {
  padding-left: 1rem;
}

p {
  margin: 0;

  & + & {
    text-indent: 1rem;
  }
  & + div > &:first-child {
    text-indent: 1rem;
  }
}

body.home {
  padding-left: 2rem;
  padding-right: 2rem;

  @media screen and (min-width: $bigscreen-breakpoint) {
    padding-left: 4rem;
  }

  .problem-highlight {
    font-size: 100%;
    font-weight: bold;
  }

  .problem {
    margin-top: 10vh;

    > p:first-child {
      &:first-letter {
        float: left;
        font-size: 240%;
        margin-left: -.1rem;
        line-height: 1;
        margin-right: .15rem;
      }
      &:first-line {
        font-weight: bold;
      }
    }

    @media screen and (min-width: $bigscreen-breakpoint) {
      display: grid;
      grid-template:
        "p1 p3" 1fr
        "p2 p4" 1fr;
      grid-template-columns: minmax(20rem, max-content) minmax(20rem, min-content);


      p {
        text-indent: 0;
        margin-top: 1rem;
      }

      > p:first-child {
        grid-area: p1;
      }
      > p:nth-child(2) {
        grid-area: p2;
      }
      > p:nth-child(3) {
        grid-area: p3;
      }
      > .existing-users {
        grid-area: p4;
      }
      // > p:nth-child(3),
      // > .existing-users {
      //   border-left: .15rem solid black;
      //   padding-left: 3rem;
      // }

      > * {
        padding-right: 3rem;
        box-sizing: border-box;
        min-width: 20rem;
      }

      > p {
        max-width: 33rem;
      }
    }

    .value-precision {
      @extend .problem-highlight;
    }
    .problem-evolving {
      @extend .problem-highlight;
    }
    .maintenance-overhead {
      @extend .problem-highlight;
    }
    .special-purpose-solution {
      @extend .problem-highlight;
    }
  }

  .features {
    margin-top: 1rem;
  }

  .user-list {
    display: flex;
    overflow-x: auto;
    padding-bottom: 1.4rem;

    > * {
      flex: 1;

      min-width: 33vw;
      @media screen and (min-width: $bigscreen-breakpoint) {
        min-width: unset;
      }

      flex-basis: 30%;
      flex-shrink: 0;
      box-sizing: border-box;
      padding-right: 1rem;
      white-space: nowrap;
      overflow: hidden;
    }
  }

  article.user {
    h4 {
      margin: 0;
      margin-top: 1.4rem;
    }

    p {
      margin: 0;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .uses {
    margin-top: 1rem;

    @media screen and (min-width: $bigscreen-breakpoint) {
      display: grid;
      grid-template-columns: minmax(20rem, max-content) auto;

      > * {
        min-width: 20rem;
        max-width: 33rem;
        box-sizing: border-box;
        padding-right: 3rem;
      }
    }
  }

  footer {
    margin-top: 2rem;
  }
}